---
import { Picture } from '@astrojs/image/components';
import SVG from '@components/svg';
import SaveRecipe from '@react/meals/saveRecipe';
import Fallback from '@img/icons/fish.svg?url';
import formatTime from '@utils/meals/formatTime';

const recipe = Astro.props.recipe;
---

<style>
	@import '@mixins';

	.card {
		position: relative;
		height: 100%;
		padding: 20px;
		border-radius: 20px;
		background: var(--background);
		box-shadow: 0 0 10px rgb(0 0 0 / 20%);

		&:hover {
			background: rgba($purple_bright, 0.3);
		}
	}

	a {

		@include block_link;

		&:hover {
			text-decoration: none;
		}
	}

	:global(picture) {
		border-radius: inherit;
	}

	.image {
		width: 100%;
		overflow: hidden;
		border-radius: inherit;

		&.fallback {
			opacity: 0.2;
			background: currentColor;
		}
	}

	span {
		display: inline-flex;
		align-items: center;

		& svg {
			width: auto;
			height: 1.2em;
			margin-right: 1ch;
		}
	}

	@supports (grid-template-areas: '.') {
		.card {
			display: grid;
			grid-gap: 10px; 
			grid-template-areas: 'img img' 'title title' 'level time' 'save save';
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows:auto 1fr auto;
		}

		.image,
		:global(picture) {
			grid-area: img;
		}

		.save { 
			grid-area: save;
		}

		h3 {
			grid-area: title;
		}
	}
</style>

<div class='card'>
	{
		recipe.data.image ? (
			<Picture
				class='image'
				src={recipe.data.image}
				alt={`Photo of ${recipe.data.title}`}
				widths={[200]}
				aspectRatio={1}
				sizes={''}
				formats={['avif', 'webp', 'jpeg']}
			/>
		) : (
			<img
				src={Fallback}
				alt=''
				class='image fallback'
			/>
		)
	}
	<h3><a href={`/recipes/${recipe.slug}`}>{recipe.data.title}</a></h3>
	{
		recipe.data.difficulty && (
			<span>
				<SVG name='icons/level' />
				{recipe.data.difficulty}
			</span>
		)
	}
	{
		recipe.data.time && (
			<span>
				<SVG name='icons/time' />
				{formatTime(recipe.data.time)}
			</span>
		)
	}
	<SaveRecipe className="save" recipe={recipe.slug} client:only />
</div>
