---
const menuItems = [
  {
	label: 'Home',
	link: '/',
  },
  {
	label: 'Meals',
	items: [
		{
			label: 'Recipes',
			link: '/recipes',
		},
		{
			label: 'Meal Planner',
			link: '/meals/planning'
		},
		{
			label: 'Shopping List',
			link: '/meals/list'
		}
	]
  },
  {
	label: 'To Do',
	link: '/tasks'
  },
  {
	label: 'Calendar',
	link: '/calendar'
  }
]; 
---

<style>
	@import '@mixins';

	header {

		@include container_spacing;

		font-size: 1.2em;
		font-weight: 700;
	}
 
	.title {
		display: block;
		font-size: 3em;
		text-decoration: none;
	}

	.menu {
		margin: 0;
		padding: 0;

		& li {
			position: relative;
			margin: 0;
			padding: 0;
		}

		& a, & button {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 10px;
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
		}
	}

	.sub {
		display: none;
		position: absolute;
		z-index: 50;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		background: var(--background);
		box-shadow: 0 0 10px rgba($neutral, 0.2);
		font-size: 0.8em;
		list-style: none;

		&:global(.open) {
			display: block;
		}

		& li {
			margin: 0;
			padding: 0;
			
		}

		& a, & button {
			padding: 10px;
			background: var(--background);
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
		}
	}

	button {

		@include button_text;
	}

	@media(max-width: 50em) {
		.sub {
			width: max-content;
		}
	}
</style>

<script>
	const menuSections = document.querySelectorAll('.menu_section');

	menuSections.forEach(section => {
		section.addEventListener('click', () => {
			section.nextElementSibling?.classList.toggle('open');
		})
	})
</script>

<header class="header">
	<a href="/" class="title">🏡</a>
	  <nav>
		<ul class="menu">
			{menuItems.map(({label, link, items}) => (
				<li class="menu_item">
					{items ? 
						<>
							<button class="menu_section">{label}</button>
							<ul class="sub">
								{
									items.map(item => (
										<li>
											<a href={item.link}>{item.label}</a>
										</li>
									))
								}
							</ul>
						</> : 
						<a href={link}>{label}</a>
					}	
				</li>
			))}
		</ul>
	</nav>
</header>
